SUPABASE_URL=https://cgnmnqjyvlgyndhmicjl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNnbm1ucWp5dmxneW5kaG1pY2psIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczMDE2ODQsImV4cCI6MjEwMjg3NzY4NH0.xjHNJugWIeZqVwVf6eu1_0FR3h89pr_hME0alp-Ftb4
